/*@import url('https://fonts.googleapis.com/css?family=Viga|Courgette|Amaranth');*/

body{
	font-size: 0.81rem;
	background: url(../img/fondo_web.png) no-repeat fixed center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover !important;
  	font-family: 'Arial','Viga';
}



.div-marco {
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border: 1px solid #83A2BF;
	padding: 8px;
	margin: 2px;
	background-color: rgba(255,255,255,1);
	/*overflow: hidden;*/
}


	





.bold{
	font-weight: bold;
}

.div-encabezado{
	font-size: 1.2rem;
	text-align: center;
	padding-top: 30px !important;
	font-family: 'Amaranth',sans-serif,'Helvetica','Viga', cursive;
	font-weight: bold;

}

.row-principal{
background-color: rgba(255,255,255,1);
padding: 2%;
}

.div-principal{
/*background-color: rgba(255,255,255,1);*/
padding-top: 100px;
}

	

.div-container{
	font-family: 'Helvetica','Viga';
	/*font-size: 0.9rem;*/
	/*background-color: #e9ecef;*/
	background-color: rgba(255,255,255,0.8);
	margin-top: 100px !important;
	margin-bottom: 3% !important;
	padding-bottom: 1%;
	-moz-box-shadow: 0 0 10px 3px #888;
  	-webkit-box-shadow: 0 0 10px 3px #888;
  	box-shadow: 0 0 10px 3px #888;
}

#canFilas{
	text-align-last: center !important;
	border: 1px solid #dee2e6;
}


.div-botones{
	padding: 5px;
	text-align: center;
}

.t_datatable>tbody tr ,.t_datatable>tbody th  {
	height: 1.8rem;
}

.right{
	text-align: right;
}




.encabezado1{
	border-bottom: 1px dotted gray;
	padding-bottom: 5px;
	padding-top: 5px;
}

.encabezado2{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.required::after, .required::after{
   color: red;
   content: "*";   
   font-size: 1.2rem;
   margin-top: -0.2rem;
   position: absolute;
   margin-left: 0.2rem;
}

.required-input , .required-date, .required-number, .required-cbo, .required-button{
    border: 1px solid #b7c6d4;
}

.input-success{
  border: 1px solid #8cc58c;
  background-color: rgba( 140,197,140 ,0.2) !important;
}

.input-fault{
  border: 1px solid red;
  background-color: #ffecec  !important;
}


.selected{
	background-color: rgba(0,0,0,0.5);
	color: white;
}


.icono1 a{
	font-size: 1rem;
	text-decoration: none;
	margin-right: 0.1rem;
}

.padding1{
	padding: 5px;
}



.btn-effect-tracer{
	border:1px solid #dbb400;
	background-color: #ffe167;
	color: #5a5a5a;
	-webkit-transition: border 0.5s, color 0.2s;
	-moz-transition: border 0.5s, color 0.2s;
	transition: border 0.5s, color 0.2s;
	font-weight: bold;
}
.btn-effect-tracer:hover{
	background-color: white;
	border:1px solid #dbb400;
	color: #dbb400;
	border-left: 15px solid #dbb400;
	-webkit-transition: border 0.5s, color 0.2s;
	-moz-transition: border 0.5s, color 0.2s;
	transition: border 0.5s, color 0.2s;	
}



.btn-effect-success{
	border:1px solid #00AF12;
	background-color: #00AF12;
	color: white;
	-webkit-transition: border 0.5s, color 0.2s;
	-moz-transition: border 0.5s, color 0.2s;
	transition: border 0.5s, color 0.2s;
	font-weight: bold;
}

.btn-effect-fail{
	border:1px solid red;
	background-color: red;
	color: white;
	-webkit-transition: border 0.5s, color 0.2s;
	-moz-transition: border 0.5s, color 0.2s;
	transition: border 0.5s, color 0.2s;
	font-weight: bold;
}

.btn-effect-info{
	border:1px solid #FF9B00;
	background-color: #FF9B00;
	color: white;
	-webkit-transition: border 0.5s, color 0.2s;
	-moz-transition: border 0.5s, color 0.2s;
	transition: border 0.5s, color 0.2s;
}


.btn-effect-success:hover{
	background-color: white;
	border:1px solid #00AF12;
	color: #00AF12;
	border-left: 15px solid #00AF12;
	-webkit-transition: border 0.5s, color 0.2s;
	-moz-transition: border 0.5s, color 0.2s;
	transition: border 0.5s, color 0.2s;	
}

.btn-effect-fail:hover{
	background-color: white;
	border:1px solid red;
	color: red;
	border-left: 15px solid red;
	-webkit-transition: border 0.5s, color 0.2s;
	-moz-transition: border 0.5s, color 0.2s;
	transition: border 0.5s, color 0.2s;
	
}

.btn-effect-info:hover{
	background-color: white;
	color: #FF9B00;
	border:1px solid #FF9B00;
	border-left: 15px solid #FF9B00;
	-webkit-transition: border 0.5s, color 0.2s;
	-moz-transition: border 0.5s, color 0.2s;
	transition: border 0.5s, color 0.2s;
	
}

.btn-effect-info:focus,  .btn-effect-fail:focus,  .btn-effect-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(135, 134, 134, 0.7);
}


/*Mensajes colores*/
.msj-success{
  font-weight: bold;
  color: green;
}

.msj-error{
  font-weight: bold;
  color: red;
}

.msj-warning{
  font-weight: bold;
  color: orange;
}

.msj-info{
  font-weight: bold;
  color: blue;
}


.hidden{
	display: none;
}

.show{
	display: block;
}


#div-detalle .form-control-sm{
	font-weight: bold;
}


a.disabled{ 
	color: black;
}

	
.form-control{
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	background-color: rgba( 0, 0, 0 ,0.0);
	color:  #0065C4;
}


textarea.form-control{
	border-top: 1px solid #b7c6d4;
	border-left: 1px solid #b7c6d4;
	border-right: 1px solid #b7c6d4;
	background-color: white;
}


.btn-flat{
	background-color: transparent;
}

#icon-delete-fecini, #icon-delete-fecfin, #icon-buscar-dni, #icon-buscar-taract, .div-cant, #icon-delete-fec0, 
#div-val-telefono, #div-val-nomusu, #icon-buscar-tarant, #div-val-tipotar, #div-val-perfiltar{
	text-align: center;
	margin-top: 7px;
}


#icon-delete-fecini:hover, #icon-delete-fecfin:hover, #icon-delete-fec0:hover{
	color:red;
	cursor:pointer; cursor: hand;
}



hr.style14 { 
	margin-top: 0rem;
	margin-bottom: 0rem;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #83A2BF, #f0f0f0);
  background-image: -moz-linear-gradient(left, #8c8b8b, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(left, #8c8b8b, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(left, #8c8b8b, #f0f0f0, #f0f0f0);
}

.container-fluid-encab{
	position: fixed;
	top:0;
	left: 0;
	background-color: #1e1e1e !important;
	z-index: 1000;
	font-weight: bold;
	color: white;
}

.container-fluid-encab div{
	display: flex;
	align-items: center;
}

.container-fluid-encab div i.icon-office{
	color: #084B8A;
	font-size: 25px;
	padding-left: 20px;
	padding-right: 20px;
}


.container-fluid-encab div i.icon-user{
	color: #FF8000;
	font-size: 25px;
	padding-left: 20px;
	padding-right: 20px;
}

.switch_enlace{
	color: #e60000;
}

.switch_enlace:hover{
	color: #000;
	text-decoration: none;
}


.row2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
}


.row3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-style: normal;
}




#modalResumen .row3 .col-6 {
	padding: 10px;
	border-bottom: 1px solid #E1E1E1;
	text-align: center;
	font-size: 14px;
	text-align: left;
}

#modalResumen .row3 .col-6:last-child , #modalResumen .row3 .col-6:nth-last-child(2){
	border: none;
}

.btnResumen{
	font-size: 10px;
	background-color: white;
	border: none;
	border-radius: 0px;
	padding: 4px;
	margin-left: 5px;
}

#div-btnGuardarCliente, #div-btnCancelarCliente, #div-btnGuardarSolicitud, #div-btnCancelarSolicitud{
	padding-top: 10px;
}

#form_adjuntodetalle, #form_solicituddetalle, #form_clientedetalle, #form_fincaanualdetalle{
	width: 100%;
}




#tb_permisos .thead_permisos .tr_permisos{
	border-top:1px solid #00AF12;
	border-bottom:1px solid #00AF12;
	background-color: rgba(0,101,196,0.1);
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	text-align: center;
	font-weight: bold;
}
#tb_permisos .tbody_permisos .td_solicitud{
	border-bottom:1px solid #83AED6;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	padding-left: 10px !important;
	padding-right: 5px !important;
}



#tb_solicitud_busqueda .form-control{
width: 100%;
  padding: 0.1rem 0.1rem;
  color:  #0065C4;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0rem;
}



#div_tb_permisos{
	min-height: 100%;
	border-top:1px solid #00AF12;
	border-bottom:1px solid #00AF12;
	background-color: rgba(0,101,196,0.1);
	font-family: 'Amaranth',sans-serif,'Helvetica','Viga', cursive;
	font-weight: bold;
	margin-bottom: 10px;	
}

#encabezado_tb_solicitud{
	padding: 10px;
}

#div_tb_usuario{
	min-height: 100%;
}


#encabezado_tb_usuario{
	padding: 10px;
}

.div-mostrar{
	padding-top: 5px;
}

#nav_paginacion ul {
    float: right;
    margin: 0 15px 0 0
}

#desResolucion{
	margin-top: 10px;
}





#div-listado{
	font-family: 'Helvetica','sans-serif';
	background-color: rgba( 255, 255, 255 ,0.9);
	margin-top: 20px !important;
	font-size: 12px;
}


@media (max-width: 767px,) {
  #div-listado{
    margin-top: 20px !important;
  }
  body{
		font-size: 0.7rem;
		padding-left: 100px;
	}
  .pre-scrollable-inc, .pre-scrollable-usu, .pre-scrollable-tar{
		max-height: 500px;
	} /* listaUsuario_view - listaincidencia_view */
	.pre-scrollable-filtro{
		max-height: 100px;
	}
}

@media (min-width: 768px) {
  #div-listado{
    margin-top: 20px !important;
  }
}


.pre-scrollable-ori{
	max-height:340px;
	overflow-y:scroll
}


.pre-scrollable-sol-permisos{
	padding-left: 50px;
	min-height: 340px;
	height: 100%;
	max-height: 80vh;
	overflow-y:scroll;
	
}


#foot_tb_solicitud {
	font-weight: bold;
}


@media (max-width: 1500px) {
	body{
		font-size: 0.8rem;
		background: url(../img/fondo_web.png) no-repeat fixed center; 
	}

}


@media (min-width: 1000px) {
	.container{
		max-width: 1240px !important;
	}
}

@media (max-width: 1000px) {
	body{
		font-size: 0.8rem;
		background: url(../img/fondo_web.png) no-repeat fixed center; 
	  	

	}
}

@media (max-width: 850px) {
	body{
		font-size: 0.8rem;
		background: url(../img/fondo_cel.png) no-repeat fixed center; 
	}

	.div-principal{
		/*background-color: rgba(255,255,255,1);*/
		padding-top: 150px;
	}
	#img_nombre_empresa img{
		margin:auto;
	}

}


.inside{
	background-color: #AFAAA5;
	color: #fff;
}


.inside .td_solicitud a{
	color: #fff !important;
}


.bootstrap-datetimepicker-widget{
	font-size: 12px !important;
}


.pre-scrollable-inc, .pre-scrollable-tar{
	padding-left: 1%;
	padding-right: 	1%;
	min-height: 100px;
	height: 100%;
	max-height: 50vh;
	overflow-y:scroll;
}


.pre-scrollable-filtro{
	padding-left: 1%;
	padding-right: 	1%;
	min-height: 50px;
	height: 100%;
	max-height: 15vh;
	overflow-y:scroll;
}


#div_combo_ordenar{
	margin: 0px !important;
	padding: 0px !important;
}

#div_listado_filtro .thead_div{
	background-color: rgba(173,173,173,0.6);
	color: black;
}

.thead_div{
	border-top:1px solid #CACACA;
	border-bottom:1px solid #CACACA;
	background-color: rgba(90,90,90,1);
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	text-align: center;
	font-weight: bold;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	color: white;

}/* listaincidencia_view - listaUsuario_view*/

.thead_div > .form-group{
	margin: 0px !important;
	padding: 0px !important;
}

.thead_div .form-control-sm{
	padding: 0rem 0rem !important;
    border-radius: 0rem  !important;

}

.row_div{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	text-align: center;
	border-bottom:1px solid #E7E7E7;
}/* listaincidencia_view - listaUsuario_view*/


.col-12.tbody_div, .row .tbody_div, .tbody_div>.col-12{
	margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}/* listaincidencia_view - listaUsuario_view*/




.back_green{
	padding-top: 5px;
	padding-bottom: 5px;	
	/*background-color: green !important;*/
	background-color: rgba(165,224,187,0.8);
}

.back_yellow{
	padding-top: 5px;
	padding-bottom: 5px;	
	/*background-color: green !important;*/
	background-color: rgba(255,232,0,0.8);
}

.back_red{
	padding-top: 5px;
	padding-bottom: 5px;	
	/*background-color: green !important;*/
	background-color: rgba(255,39,0,0.5);
}

.background1{
	padding-top: 5px;
	padding-bottom: 5px;	
	background-color: rgba(1,1,1,0.1);
}

#form_busquedatarea input{
	font-size: 13px;
}


.tbus_div > .col-1, .tbus_div > .col-2{
	padding-right: 5px !important;
    padding-left: 5px !important;   
}

.tbus_div{
	border-bottom: 1px solid #E7E7E7 !important;
}



	
.tbus_div .form-control{
	/*border-top: 1px solid #b7c6d4 !important;
	border-left: 1px solid #b7c6d4 !important;
	border-right: 1px solid #b7c6d4 !important;
	border-radius: 5px;*/
	background-color: rgba( 0, 0, 0 ,0.0);
	color:  #5b5a5a;
}

#msj-busubi , #msj-avsol , #msj-eqptav{
	color: red;
	font-style: italic;
}


.input-busqueda{
	background-color: #ECF6FF;
}

.div_principal{
	text-align: center;
	padding: 2%;
	color:green;
}

.div_principal a{
	color: #007bff; 
}

.div_principal a:hover{
	font-weight: bold;
	text-decoration: none;
	color: #343a40;
}

.div_principal icon{
	font-size: 30px;
}

#div_bus .form-group , #div_bus_filtro .form-group{
	margin: 0px;
}

#div_listado_filtro .tbus_div, #div_listado_filtro .thead_div, #div_listado_filtro .row_div {
	margin: 0px;
	padding: 0px;

}
.icon-orden{
      width: 20px;
      height: 20px;
      top:10px;
      /*background-image: url(../img/orden.png);*/
      background: url('../img/orden.png') no-repeat;
}

.icon-orden:hover{
	cursor:pointer; cursor: hand;
}


#div-listado .form-control-sm{
	font-size: 12px;
}

.modal-header, .modal-footer{
	border-bottom: 0px solid #e9ecef !important;
	border-top: 0px solid #e9ecef  !important;
}

.icon-productor {
	font-size: 12px;
	padding-top: 10px;
	padding-left: 5px;
}
.div-botones .btn {
	margin-left: 5px;
	margin-right: 5px;
}



.div-encabezado1{
	text-align: center;
	padding-top: 10px !important;
	font-weight: bold;
}

.div-encabezado3{
	font-size: 1.2rem;
	text-align: center;
	padding-bottom: 10px !important;
	font-family: 'Amaranth',sans-serif,'Helvetica','Viga', cursive;
	font-weight: bold;

}

.div-encabezado1{

    border-bottom: 1px solid #DDDDDD;
}



.form-control-sm, .input-group-sm{
	line-height: 1.9;
}

.thead_div_inspeccion, .thead_div1{
	border-top:1px solid #CACACA;
	border-bottom:1px solid #CACACA;
	border-left: 1px solid #CACACA;
	border-right: 1px solid #CACACA;
	background-color: rgba(90,90,90,0.1);
	text-align: center;
	font-weight: bold;
	color: black;

}/* listaincidencia_view - listaUsuario_view*/

.div_centrado{
	margin:auto;
	text-align: center;
	margin-top: 10px;
}

.border_top{
	margin-top: 5px;
	border-top:1px solid #0A0A0A;
}

.div_porcentaje{
	padding-top: 25px;
	padding-bottom: 25px;
}

.input-readonly{
	background-color: #e9ecef;

}


.row_div2{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	margin-left: 0px !important;
	margin-right: -50px !important;
	text-align: center;
}/* listaincidencia_view - listaUsuario_view*/


.row_div2> .form-group{
	margin-bottom: 0rem !important;
}

.row_div2 .form-group .div_icon{
	padding-right: 0px !important;
    padding-left: 0px !important;
}

.row_div2 .form-group .div_input{
	padding-right: 0px !important;
}

.div_icon{
	margin-top: 10px;
	color:red;
}

.border_red{

	border: 1px solid red;

}

.pre-scrollable_insp {
  max-height: 100px;
  min-height: 50px;
  overflow-y: scroll;

}

.class_filaParcela > div , .class_filaCampo > div ,.class_filaDato > div {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.class_filaParcela > div > textarea{
	padding: 0.1rem 0.1rem;
}



.btn-white {
  font-size: 20px;
  color: #000 !important;
  background-color: #fff;
  border-color: #fff;
  border-radius: 2rem !important;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Impact','Arial','Viga';
}


.btn-white:hover {
  color: #452500 !important;
  background-color: #ddbb5e;
  border-color: #545b62;
  font-weight: normal !important; 
}

.btn-white:focus, .btn-white.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);

}

.btn-white.disabled, .btn-white:disabled {
  color: #fff !important;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active,
.show > .btn-white.dropdown-toggle {
  color: #fff  !important;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-white:not(:disabled):not(.disabled):active:focus, .btn-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

#div-foot{
	background-color: rgba( 255, 255, 255 ,0.9);
}

.thead_celda{
	color: #fff !important;
	cursor:pointer; cursor: hand;
}

.thead_celda:hover{
	color: #fff;
	cursor:pointer; cursor: hand;
	text-decoration:none;
}


#div_nrodocCony_detalle{
	color:red;
	font-size: 11px !important;
	
}

.font_min{
	font-size: 9px;
}

#controlTab{
	background-color: #9B9B9B;
	color: red;
}

#controlTab a[aria-selected="false"]{
	color: white !important;
}

.table-bordered td.td_invisible_bottom{
	border-bottom: 1px solid #fff !important;
}

.table-bordered td.td_invisible_left{
	border-left: 1px solid #fff !important;
}


.table-bordered td.td_invisible_rigth{
	border-right: 1px solid #fff !important;
}

#validacion_errores_div{
	font-size: 10px;
	color:red;
	font-weight: bold;
}