
#foot_tb_inventario{
	font-weight: bold;
}
/* #tb_solicitud .tbody_solicitud .td_solicitud{
	border-bottom:1px solid #83AED6;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	padding-left: 10px !important;
	padding-right: 5px !important;
} */


.td_inventario #id{
    padding-left: 10px;
    width: 100px;
    box-sizing: border-box;
}
.td_inventario #tipoSolicitud{
    padding-right: 100px;
	width: 390px;
}
.td_inventario #asuntoSolicitud{
	width: 390px;
}
.td_inventario #estadoSolicitud{
	width: 120px;
}
.td_inventario #fecRegSolicitud{
	width: 140px;
}
.td_inventario #cau{
	width: 190px;
}
.td_inventario #nrotaractual{
	width: 140px;
}
.td_inventario #nrotarant{
	width: 140px;
}

.tbusinventario_div > .col-1, .tbusinventario_div > .col-2{
	margin-left: 5px !important;
	padding-right: 50px !important;
    padding-left: 5px !important;   
}

.tbusinventario_div{
	border-bottom: 1px solid #b7c6d4 !important;
}

#codEquipo{
margin-left: 10px;
}

#NomTipoEquipo{
	margin-left: 50px;
}


.tbusinventario_div .form-control{
	border-top: 1px solid #b7c6d4 !important;
	border-left: 1px solid #b7c6d4 !important;
	border-right: 1px solid #b7c6d4 !important;
	border-radius: 5px;
	background-color: rgba( 0, 0, 0 ,0.0);
	color:  #0065C4;
}